span{
    color: crimson;
}
h2{
    background-color: blueviolet;
    border-radius: 5px;
    text-align: center;
    height: 40px;
    width: 80%;
    margin-left: 45px;
    font-style: normal;

}
fieldset{
    border-color:orange ;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
}
body{
    background-color: navajowhite;
    font-style: ;
    font-family: 'Times New Roman', Times, serif;
}
button{
    background-color: green;
    border-color: black;
    border-radius: 8px;
    height: 40px;
    width: 130px;
    font-family: ;
    font-weight: bold;

}
form{
    background-color: cyan;
    border-color:pink;
    font-size: 18px;
    font-family: ;
    font-weight: lighter;
    font-style: normal;
}
input{
    width: 280px;
    border-color:burlywood;
    border-radius: 4px;
}
select{
    width:280px ;
    background-color: white;
    border-radius: 4px;
    border-color: burlywood;

}

.fgroup {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.fgroup label {
  width: 150px; /* largeur fixe pour aligner les champs */
  margin-right: 20px;
}

.fgroup input {
  flex: 1; /* prend le reste de l'espace */
}
